* {
  margin: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.container {
  max-width: 1180px;
  margin: auto;
  display: flex;
  padding: 10px;
  position: relative;
}

/* Columns */
.left_container {
  position: fixed;
  background-color: #398bef;
  border-radius: 10px;
  width: 20%;
  height: 50%;
  max-height: 400px;
}
ul {
  margin: 0;
  padding: 0;
}
.left_container ul li {
  list-style: none;
  color: white;
  padding: 1rem;
  cursor: pointer;
}
.left_container ul li:hover {
  background-color: #1877f2;
  border-radius: 10px;
}
.story_icon {
  width: 10%;
  background-color: #adadaf6b;
  height: 80px;
  border-radius: 0.6rem;
}

.profile_section,
.middle,
.right {
  background: white;
  padding: 15px;
  margin: 5px;
  border-radius: 8px;
}
.middle {
  margin-left: 1rem;
  display: flex;
  width: 86%;
  justify-content: space-between;
}
.middle_container {
  width: 50%;
  margin: auto;
}

.right {
  position: fixed;
  right: 150px;
  width: 20%;
  padding: 1rem;
  height: 100vh;
}
.right h3 {
  margin: 0px;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #398bef;
  color: white;
  padding: 1rem 0px;
  border-radius: 8px;
}
.right li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #398bef;
  margin: 0.6rem;
  box-shadow: 0px 0px 10px 1px #398bef53;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
}
.right li span {
  font-size: 1.7rem;
  color: #398bef;
}
.profile_section {
  width: 50%;
}
/* Inputs */
input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
}

button {
  border-radius: 10px;
  padding: 10px 20px;
  background: #1877f2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0f66d0;
}

.post {
  margin-top: 20px;
  padding: 10px;
  width: 88%;
  background: #f0f2f5;
  border-radius: 5px;
}

.display {
  display: block;
}
.nodisplay {
  display: none;
}

.bold_color {
  background-color: #1877f2;
  border-radius: 10px;
}
.profile_section {
  margin: auto;
  width: 43%;
}
.profile {
  display: flex;
  align-items: center;
}
.prfile_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit_section {
  border: 2px solid #398bef;
  max-width: 40%;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  position: absolute;
  top: 25%;
  left: 25%;
}
.post {
  background-color: white;
  margin-inline: 1rem;
  border-radius: 10px;
}
.edit_section div {
  display: flex;
  justify-content: space-between;
}
.post_heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.post_heading span {
  font-size: 3rem;
  color: #398bef;
  margin-right: 0.5rem;
}
.post_img {
  margin-bottom: 1rem;
}
.post_token {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}
